name: Test

on:
  workflow_dispatch:
env:
  myenvvar: ${{ vars.MY_ENV_VAR }}
jobs:
  job1:
    runs-on: ubuntu-latest
    environment:
      name: dev
    steps:
      - run: echo "$myenvvar"
  job2:
    runs-on: ubuntu-latest
    environment:
      name: test
    steps:
      - run: echo "$myenvvar"
  job3:
    runs-on: ubuntu-latest
    environment:
      name: prod
    steps:
      - run: echo "$myenvvar"
